@charset "UTF-8";

@import url('//fonts.googleapis.com/earlyaccess/jejugothic.css');
/*폰트 import*/
/*font-family: 'Jeju Gothic'*/
* {
	margin: 0px;
	padding: opx;
}

body {
	background: #fff;
	font-family: 'Jeju Gothic', serif;
}

a {
	text-decoration: none;
}

nav a:link, a:visited {
	color: #fff;
}

nav a:active {
	color: yellow;
}

nav {
	height: 50px;
	background: #000;
}

li {
	font-size: 1em;
	list-style: disc;
	/*1,2,3이 ...으로*/
}

#container {
	width: 100%;
	margin: 0px auto;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.3em;
}

p {
	font: 1.3em;
	line-height: 2;
}

.photo>img {
	width: 70%;
	max-width: 240px;
	height: auto;
	margin-bottom: 30px;
}

header {
	width: 100%;
	height: 300px;
	background: url(../img/dm/poketmon_logo.png) center no-repeat;
	background-size: cover;
	margin: 0px;
}

#main-nav {
	list-style: none;
	margin: 0px;
	padding: 10px;
}

#main-nav li {
	display: inline-block; /*한줄로*/
	color: #fff;
	font-family: "맑은 고딕", "돋움", sans-serif;
	font-size: 0.8em;
	margin: 5px 15px;
	transition: 1s; /*움직임을 스무스하게*/
}

#main-nav li:hover {
	background-color: #ccc;
}

section {
	position: relative;
	width: 100%;
	padding: 15px 5%;
}

/*nth 문법*/
/*section의 자식 영역들에서 홀수번째인 애들*/
#container section:nth-child(odd) {
	background-color: #eee;
}

.page-title {
	position: absolute;
	top: 20px;
	left: 0px;
	padding: 30px 50px;
}

.page-title h1 {
	margin-bottom: 30px;
}

.content {
	margin: 80px auto 10px;
	width: 90%; /* %: 전체 화면 크기(container)에 따라 달라짐! */
	padding: 20px;
	box-sizing: border-box;
}

.photo {
	display: none;
}

footer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
}

footer p {
	font-family: 'Jeju Gothic', cursive;
	font-size: 1.5em;
	line-height: 100px;
	color: white;
	text-align: center;
}

/*태블릿 화면*/
@media screen and (min-width:760px) {
	header {
		height: 400px;
	}
	#intro, #roadmap {
		box-sizing: border-box;
		width: 50%;
		height: 400px;
		float: left;
		margin: 0px;
		border: 1px dotted purple;
	}
	#coffee {
		clear: both;
	}
}

/*pc화면*/
@media screen and (min-width:992px) {
	#container {
		width: 990px;
		margin: 0px auto;
		border: 2px solid #d4d4d4;
	}
	header {
		height: 300px;
	}
	#intro, #roadmap, #coffee {
		box-sizing: border-box; /*border 크기 상관없이 border 사이즈로 잡힘*/
		clear: both;
		position: relative;
		width: 100%;
		height: 420px;
		padding: 15px 5% 10px 5%;
	}
	.content {
		margin: 80px auto 10px;
		width: 90%;
		padding: 20px;
	}
	.photo {
		display: block;
		width: 40%;
	}
	.photo>img {
		width: 100%;
		max-width: 320px;
		height: auto;
		margin-bottom: 30px;
	}
	.text {
		width: 40%;
	}
	#intro .photo, #roadmap .photo {
		float: left;
		margin: 5%;
	}
	#coffee .photo {
		float: right;
		margin: 5%;
	}
	#intro .text, #roadmap .text {
		float: right;
		margin: 5%;
	}
	#coffee .text {
		float: left;
		margin: 5%;
	}
}