@charset "UTF-8";

.container {
	width: 700px;
	margin-left: 30px;
}

h1 {
	font-size: 30px;
}

h2 {
	text-align: right;
	font-size: 15px;
}

table {
	width: 700px;
	border: 2px solid black;
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	text-align: center;
	border-right: none;
}

.table1 {
	width: 550px;
	margin-left: 150px;
}

thead {
	background-color: #e0e0e0;
	text-align: center;
	font-weight: bold;
}

tr, td {
	/* 	border: 1px solid black; */
	border: none;
	margin: 10px;
	padding: 5px;
}

tr {
	padding: 50px;
}

td {
	font-size: 13px;
}

td#a {
	color: red;
	font-weight: bold;
}

.caption1 {
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
}

div {
	padding: 10px;
}

.td1 {
	background-color: #e0e0e0;
	font-weight: bold;
}

.td2 {
	font-weight: bold;
}

.b {
	border-right: 1px solid black;
}

.c {
	border-bottom: 1px solid black;
}